<footer>
	<div class="container">
		<div class="contents">
			<div class="logo">
				<img src="<%= require('../../img/logowhite.svg') %>" alt="">
			</div>
			<div class="info">
				<div class="about">
					<h3 class="title">网站地图</h3>
					<ul>
						<li class="mao"><a  href="javascript:;" >使用场景</a></li>
						<li class="mao"><a  href="javascript:;" >工作原理</a></li>
						<li class="mao"><a  href="javascript:;" >生态系统</a></li>
						<li class="mao"><a  href="javascript:;" >路线图</a></li>
					</ul>
				</div>
				<div class="contact">
					<h3 class="title">联系我们</h3>
					<ul>
						<li><a href="#"><img src="<%= require('../../img/index/github.svg') %>"/></a></li>
						<li><a href="#"><img src="<%= require('../../img/index/github.svg') %>"/></a></li>
						<li><a href="#"><img src="<%= require('../../img/index/github.svg') %>"/></a></li>
						<li><a href="#"><img src="<%= require('../../img/index/github.svg') %>"/></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
