<div id="body">
	<section class="banner-contents">
		<div class="container">
			<div class="col-md-6 col-xs-12">
				<h1>提供无限存储能力</h1>
				<h2>的去中心化结构云存储</h2>
				<p >Lambda 是一个快速、安全、可扩展的区块链数据基础设施项目，提供去中心化的结构数据存储和访问能力。是顺应去中心化技术的发展，孕育而生的云端分布式数据库，目前主要应用于分布式应用、区块链应用、人工智能和物联网领域。基于 Apache 协议和区块链技术，解决当下的效率、安全问题。</p>
				<a class="btn" href="https://dn-oneapm.qbox.me/lambda.pdf">下载白皮书</a>
			</div>
			<div class="crowd col-md-6 col-xs-12">
				<p class="countdown-top">距离众筹结束还有</p>
				<div id="getting-started" class="countdown"></div>
				<p class="countdown-bottom">关于倒计时的描述或链接</p>
			</div>
		</div>
	</section>
	<section id="scene" class="scene use">
		<div class="container">
			<h1 >使用场景</h1>
			<span>APPLICATION SCENARIOS</span>
			<div class="row">
				<div class="col-xs-12">
					<div class="tab-btn">
						<div class="line hidden-xxs"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>分布式应用</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>区块链</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>物联网</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xxs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>人工智能</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="tab-contents">
						<p class="contents-active">目前分布式应用依靠以太坊和 IPFS 来搭建，但 IPFS 因为缺乏信息检索导致响应速度慢。而 lambda 的结构化数据，加上采用分片、分区的策略提供快速读写的能力，可以优雅地解决该问题。 在分布式应用爆发的今天，无论是信息源工具、通讯工具，还是泛娱乐服务，都应该使用 lambda 去中心化的结构云存储方案。提供更可靠、更快速、更安全的存储方案。</p>
						<p>在现存的区块链存储方案中，有存储于区块链本身的方案，或者点对点的文件系统，以及分布式云存储。三者皆存在缺陷。存于区块链上会造成交易慢、单点存储量大的问题，而点对点需要用户在线，分布式云存储仅支持静态文件无法更新，不易被程序访问。 因此，lambda 针对上诉现状进行改造，保持永远在线、读写速度快、支持富媒体等多样类型。</p>
						<p>物联网的存储量庞大，且存在时序性、更新频率快等特征。而基于区块链技术的存储解决方案 lambda 本身的时间戳功能，以及高扩展能力可以很好地适应物联网的诉求。 无论是 IoT 还是 IoE 场景，lambda 高性价比的存储方案，既可以避免云计算带来的能耗问题，又比网络边缘计算更能适应时序的存储要求。</p>
						<p>在人工智能领域，数据的价值越发重要，而区块链本身交换价值的特性，特别适用于使用区块链技术来交换数据。数据拥有者采用智能合约出售原始数据，进而再次出售分析结果，形成一个闭环。 Lambda 基于时序和数据交换的功能，能够在人工智能领域孵化更好的生态系统。</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="principle" class="use principle">
		<div class="container">
			<h1>工作原理</h1>
			<span>WORKING PRINCIPLE</span>
			<div class="row">
				<div class="col-xs-12 ">
					<div class="tab-btn">
						<div class="line hidden-xxs"></div>
						<div class="item active col-md-1 col-sm-2 col-xxs-3">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>多链</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>分片</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>存储</p>
						</div>
						<div class="item col-md-1 col-sm-2 col-lg-offset-half col-md-offset-half col-sm-offset-half col-xs-3 col-xxs-offset-0">
							<div class="btn-icon">
								<i></i>
							</div>
							<p>算法</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="tab-contents">
						<p class="contents-active">Lambda 是一种同构多链的设计，主链提供子链注册与全局账本管理以及交易清算，通过多工作链负责接入不同的服务能力无限扩充 Lambda生态。<br> Lambda 支持跨链的交易和跨链的通信。实现了对数据请求进行授权、记录和请求转发，和对数据响应情况进行统计和对数据库节点进行共识管理的，以及对数据完整性验证。</p>
						<p>Lambda 遵循增量扩展的原则，实现了动态分片的机制，能够将负载均衡分布到存储节点中，同时保证一致性。<br> Lambda 也支持集群和分区的功能，来解决网络拥堵的问题。基于地理位置、运营商的分区，同样采用分片中查询、增删节点、冲突解决的策略。能够很好地保证负载均衡和数据一致性。</p>
						<p>Lambda 工作链通过分片技术根据实时负载 弹性分片与合并分片保证百万 RPS 请求的处理能力。<br> Lambda 采用虚拟子链方式，根据账号或请求内容自动分片保证高并发，与主链交叉验证的机制确保数据的完备性和安全性。</p>
						<p>Lambda基于ABE算法利用在线-离线和外包解密技术,构造了一个高效的移动云存储数据访问控制方案。<br> Lambda基于BLS-PDP 和 MF-PDP实现了数据的完整性证明，保证数据的永久安全性与私密性。Lambda基于CCHDP算法实现了一种能够在一组节点中动态分片的存储机制。</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="ecosystem" class="use ecosystem">
		<div class="container">
			<h1>生态系统</h1>
			<span>ECOSYSTEM</span>
			<div class="row">
				<div class="col-xs-12">
					<img src="<%= require('../../img/index/Group2x.png') %>" alt="">
				</div>
				<div class="col-md-offset-1 col-md-10 col-sm-12 col-xxs-12">
					<p>不同于大多数的区块链应用，lambda 是一个基础设施，并带有自己的一条用于计费和交易的链。 Lambda 所支持的计算市场由四种角色组成:计算资源提供者，提交数据存储和计算任务的任务创建者，软件开发人 员和数据分析师这四个群体组成了 lambda 相互依存的生态系统。</p>
				</div>
			</div>
		</div>
	</section>
	<section id="roadmap" class="use roadmap">
		<div class="container">
			<h1>路线图</h1>
			<span>ROADMAP</span>
			<div class="row" style="position:relative">
				<div class="column-line hidden-xs hidden-xxs"></div>
				<div class="col-md-offset-1 col-md-11 box-wrapper">
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num">1</span>
								<div class="circle-icon">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2017</span>
								<ul>
									<li><span class="num">Q1</span><span class="contents">深度研究区块链各个公链和协议层的技术框架，核心团队阅读了大量的代码和论文 论证 Permissionless 环境下的海量数据的计算和存储模型 论证 OAS 商业模式和 Token 经济的结合点</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">2</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2018</span>
								<ul>
									<li><span class="num">Q1</span><span class="contents">选择合适的区块链共识机制，确定了采用 Sharding 方案的高速链设计，以及子链的 HoneyBadgerBFT 共识算法 确定采用 Request 和 Reponse 分别记账的多子链设计 完善链库结构分离的结构设计 确定采用 PDP 的数据持有性证明和 ABE 的访问控制和加密机制 确定技术路线和技术方案 完成技术白皮书</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">3</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2018</span>
								<ul>
									<li><span class="num">Q3</span><span class="contents">对 libp2p 和 devp2p 的性能进行评估测试，代码修改 实现底层的数据块储系统 闭源开发 Lambda Chain 对 Lambda FS 进行技术验证 对 Lambda FS 进行社区化开发并实时开源 基于 Lambda FS 实现 Lambda 数据库 基于热点语言开发 Lambda Agent 方便与现用应用集成。</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">4</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2018</span>
								<ul>
									<li><span class="num">Q4</span><span class="contents">P2P 网络开发用于同步区块链账本以及存储数据同步,虚拟机开发以及内置合约的开发与验证 API 接口、RPC 接口、命令行、外围工具开发 开源 Lambda Chain</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">5</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2019</span>
								<ul>
									<li><span class="num">Q1</span><span class="contents">基于社区搭建大规模的测试网络，进行全方位的测试。 发放 LDA 鼓励早期社区爱好者开发基于 Lambda 的应用示例 基于测试网络对应用示例进行安全性与业务漏洞悬赏测试并修正</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<div class="nc-wrapper">
								<span class="left-num hidden-xxs">6</span>
								<div class="circle-icon hidden-xxs">
									<i></i>
								</div>
							</div>
						</div>
						<div class="col-sm-10">
							<div class="year-list">
								<span class="year">2019</span>
								<ul>
									<li><span class="num">Q2</span><span class="contents">由基金会发起鼓励更多的数据库类型与服务能力接入Lambda生态,探索基于 Lambda 生态的数据交易能力</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="team" class="use team">
		<div class="container">
			<h1>核心团队</h1>
			<span>CORE TEAM</span>
			<div class="row team-wrapper">
				<div class="col-md-2 col-xxs-6">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/hxy.png') %>" alt="">
						</div>
						<p class="name">何晓阳</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-6 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/ghq.png') %>" alt="">
						</div>
						<p class="name">郭宏强</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-6 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/hbq.png') %>" alt="">
						</div>
						<p class="name">何冰清</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-6 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/yh.png') %>" alt="">
						</div>
						<p class="name">Yue Huang</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-6 col-xxs-offset-0 col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/alex.png') %>" alt="">
						</div>
						<p class="name">Alex Lototskiy</p>
					</div>
				</div>
			</div>
			<h2>专家顾问<span>ADVISOR</span></h2>
			<div class="row team-wrapper team-wrapper2">
				<div class="col-md-2 col-xxs-6  ">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/jn.png') %>" alt="">
						</div>
						<p class="name">姜宁</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-6 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/wx.png') %>" alt="">
						</div>
						<p class="name">伍星</p>
					</div>
				</div>
				<div class="col-md-2 col-xxs-6 col-xxs-offset-0  col-md-offset-half col-lg-offset-half">
					<div class="head">
						<div class="head-wrapper">
							<img src="<%= require('../../img/index/lch.png') %>" alt="">
						</div>
						<p class="name">刘春华</p>
					</div>
				</div>
			</div>
		</div>
	</section>
<section id="partners" class="use partners">
	<div class="container">
		<h1>合作伙伴</h1>
		<span>PARTNERS</span>
		<div class="row partners-wrapper">
			<div class="partners768 col-md-3 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 col-md-offset-half col-lg-offset-half">
				<div class="partners-logo">
					<img src="<%= require('../../img/index/apache.png') %>" alt="">
				</div>
			</div>
			<div class="partners768 col-md-3 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 col-md-offset-1 col-lg-offset-1">
				<div class="partners-logo">
					<img src="<%= require('../../img/index/oneapm.png') %>" alt="">
				</div>
			</div>
			<div class="partners768 col-md-3 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2 col-xxs-offset-1 col-xxs-10 col-md-offset-1 col-lg-offset-1">
				<div class="partners-logo">
					<img class="yfy" src="<%= require('../../img/index/yfy.png') %>" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
